affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node.kubernetes.io/nodegroup
              operator: In
              values:
                - system

autoscaleMin: 2

global:
  tag: 1.27.1
  imagePullPolicy: IfNotPresent
  defaultPodDisruptionBudget:
    minAvailable: 1
  logAsJson: true
  proxy:
    resources:
      requests:
        cpu: 50m
        memory: 51Mi
      limits:
        cpu: 500m
        memory: 512Mi
  variant: distroless

meshConfig:
  defaultConfig:
    drainDuration: 15s
    proxyMetadata:
      EXIT_ON_ZERO_ACTIVE_CONNECTIONS: "true"
      MINIMUM_DRAIN_DURATION: 10s
    controlPlaneAuthPolicy: MUTUAL_TLS
    proxyStatsMatcher:
      inclusionRegexps:
        - ".*lb.*"
        - ".*membership.*"
        - ".*mysql.*"
        - ".*outlier_detection.*"
        - ".*ssl.*"
        - ".*upstream_cx.*"
        - ".*upstream_rq.*"
        - ".*http_local_rate_limit.*"
    tracingServiceName: CANONICAL_NAME_AND_NAMESPACE
  rootNamespace: istio-system
  discoverySelectors:
    - matchLabels:
        istio.io/rev: stable
  defaultProviders:
    metrics:
      - prometheus
    accessLogging:
      - envoy-stdout
    tracing:
      - opentelemetry-grpc
  enableTracing: true
  extensionProviders:
    - name: opentelemetry-grpc
      opentelemetry:
        service: opentelemetry-collector.opentelemetry-collector.svc.cluster.local
        port: 4317
        grpc:
          timeout: 10s
    - name: envoy-stdout
      envoyFileAccessLog:
        path: /dev/stdout
        logFormat:
          labels:
            access_log_type: '%ACCESS_LOG_TYPE%'
            bytes_received: '%BYTES_RECEIVED%'
            bytes_sent: '%BYTES_SENT%'
            destination: '%UPSTREAM_CLUSTER%'
            downstream_remote_port: '%DOWNSTREAM_REMOTE_PORT%'
            downstream_transport_failure_reason: '%DOWNSTREAM_TRANSPORT_FAILURE_REASON%'
            duration: '%DURATION%'
            grpc_status: '%GRPC_STATUS(CAMEL_STRING)%'
            level: 'info'
            message: 'Communication received successfully'
            method: '%REQ(:METHOD)%'
            path: '%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%'
            protocol: '%PROTOCOL%'
            response_code: '%RESPONSE_CODE%'
            response_flags: '%RESPONSE_FLAGS%'
            timestamp: '%START_TIME(%Y-%m-%dT%H:%M:%S.%fZ)%'
            trace_id: '%TRACE_ID%'
            traceparent: '%REQ(TRACEPARENT)%'
            upstream_remote_port: '%UPSTREAM_REMOTE_PORT%'
            upstream_transport_failure_reason: '%UPSTREAM_TRANSPORT_FAILURE_REASON%'
            user_agent: '%REQ(USER-AGENT)%'
            x_forwarded_for: '%REQ(X-FORWARDED-FOR)%'
    - name: envoy-inbound-stdout
      envoyFileAccessLog:
        path: /dev/stdout
        logFormat:
          labels:
            access_log_type: '%ACCESS_LOG_TYPE%'
            bytes_received: '%BYTES_RECEIVED%'
            bytes_sent: '%BYTES_SENT%'
            direction: 'inbound'
            downstream_remote_port: '%DOWNSTREAM_REMOTE_PORT%'
            downstream_transport_failure_reason: '%DOWNSTREAM_TRANSPORT_FAILURE_REASON%'
            duration: '%DURATION%'
            grpc_status: '%GRPC_STATUS(CAMEL_STRING)%'
            level: 'info'
            message: 'Inbound communication received successfully'
            method: '%REQ(:METHOD)%'
            path: '%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%'
            protocol: '%PROTOCOL%'
            response_code: '%RESPONSE_CODE%'
            response_flags: '%RESPONSE_FLAGS%'
            timestamp: '%START_TIME(%Y-%m-%dT%H:%M:%S.%fZ)%'
            trace_id: '%TRACE_ID%'
            traceparent: '%REQ(TRACEPARENT)%'
            user_agent: '%REQ(USER-AGENT)%'
            x_forwarded_for: '%REQ(X-FORWARDED-FOR)%'
    - name: envoy-outbound-stdout
      envoyFileAccessLog:
        path: /dev/stdout
        logFormat:
          labels:
            access_log_type: '%ACCESS_LOG_TYPE%'
            bytes_received: '%BYTES_RECEIVED%'
            bytes_sent: '%BYTES_SENT%'
            destination: '%UPSTREAM_CLUSTER%'
            direction: 'outbound'
            duration: '%DURATION%'
            grpc_status: '%GRPC_STATUS(CAMEL_STRING)%'
            level: 'info'
            message: 'Outbound communication received successfully'
            method: '%REQ(:METHOD)%'
            path: '%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%'
            protocol: '%PROTOCOL%'
            response_code: '%RESPONSE_CODE%'
            response_flags: '%RESPONSE_FLAGS%'
            timestamp: '%START_TIME(%Y-%m-%dT%H:%M:%S.%fZ)%'
            trace_id: '%TRACE_ID%'
            traceparent: '%REQ(TRACEPARENT)%'
            upstream_remote_port: '%UPSTREAM_REMOTE_PORT%'
            upstream_transport_failure_reason: '%UPSTREAM_TRANSPORT_FAILURE_REASON%'
            user_agent: '%REQ(USER-AGENT)%'

pilot:
  env:
    PILOT_ENABLE_MYSQL_FILTER: true

resources:
  requests:
    cpu: 50m
    memory: 51Mi
  limits:
    cpu: 500m
    memory: 512Mi

revision: 1-29-0

revisionTags:
  - stable
