affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node.kubernetes.io/nodegroup
              operator: In
              values:
                - app

imagePullPolicy: IfNotPresent

revision: 1-29-0

tag: 1.27.1

variant: distroless
