apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ .Values.service.name }}
spec:
  exportTo:
    - "*"
  hosts:
    - {{ .Values.service.host }}
  gateways:
    - mesh
    - {{ .Values.istioEgressGateway.namespace }}/{{ .Values.service.name }}-egress
  tls:
    - match:
        - gateways:
            - mesh
          port: {{ .Values.service.port }}
          sniHosts:
            - {{ .Values.service.host }}
      route:
        - destination:
            host: istio-egressgateway.{{ .Values.istioEgressGateway.namespace }}.svc.cluster.local
            port:
              number: {{ .Values.service.port }}
    - match:
        - gateways:
            - {{ .Values.istioEgressGateway.namespace }}/{{ .Values.service.name }}-egress
          port: {{ .Values.service.port }}
          sniHosts:
            - {{ .Values.service.host }}
      route:
        - destination:
            host: {{ .Values.service.host }}
            port:
              number: {{ .Values.service.port }}
